body {
  background-color: #fbe9d0;
  font-family: 'Bradley Hand', cursive, sans-serif; 
}

img {
  border-radius: 20px;
  border: 2px solid #244855; 
  filter: dropshadow(8px 8px 10px blue);
}

h1 {
  text-decoration: underline dotted blue;
}

p {
   border: 3px solid #244855;
}
