body {
    text-align: center;
    background-color: #F7F7F7;
}

.date {
    color: #D59F7B; 
}
nav{
  margin-top: 5px;
  margin: 8vw;
}
nav ul li{
    display: inline;
    text-decoration: none;
}

h1{
 margin: 10vw;
 font-size: 50px;
 text-decoration: underline;
}

ul{
    list-style: none;
    padding-left: 0px;
}
section{
    border: 3px solid #000080;
    margin: 10vw;
}
